.CodeMirror-lines {
    font-size: 1.5rem;
}

.monospace {
    font-family: monospace;
}

button {
    background: #fecc00;
    color: black !important;
}

.bctovF {
    background: #272f36;
}

footer {
    position: absolute;
    font-size: 0.625rem;
    bottom: 50px;
}